# Ignore data files
data/
*.csv
*.rar
*.zip

# Ignore all images apart from the plots folder
*.png
*.jpg
!plots/*.png

# Ignore virtual environment
venv/
env/

# Ignore Python cache and Jupyter checkpoints
__pycache__/
.ipynb_checkpoints/

# Ignore heavy datasets
*.duckdb